* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(2, 17, 29);

}

main {
    width: 50%;
    margin-top: 50px;
    margin-left: 50px;
    display: grid;
    grid-template-areas:
        'a a b '
        'c d d'
        'c e e';
}

main div {

    padding: 4em;
    margin: 5px;
    text-align: center;

}

.Item-a {
    background-color: rgb(255, 115, 0);
    grid-area: a;
}

.Item-b {
    background-color: rgb(253, 208, 6);
    grid-area: b;
}

.Item-c {
    background-color: rgb(26, 117, 8);
    grid-area: c;
}

.Item-d {
    background-color: rgb(0, 238, 255);
    grid-area: d;
}

.Item-e {
    background-color: rgb(0, 238, 255);
    grid-area: e;
}