* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
}

main {
    padding-top: 100px;
    width: 1040px;
    margin: auto;
    align-items: center;
}

.container {
    background-color: rgb(255, 253, 253);
    display: inline-flex;
    align-items: center;



}

.flex {

    height: 400px;

    /* text-align: center; */

}

.btn {
    width: 120px;
    padding-top: 70px;
}

button {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
}

.orange {
    background-color: hsl(31, 77%, 52%);
    height: 400px;
    padding-left: 30px;

    /* margin-right: 5px; */
}

.cyan {
    background-color: hsl(184, 100%, 22%);
    height: 400px;
    padding-left: 30px;
    /* margin-right: 5px; */
}

.dark-cyan {
    background-color: hsl(179, 100%, 13%);
    height: 400px;
    padding-left: 30px;
    /* margin-right: 5px; */
}

p {
    color: hsla(0, 0%, 100%, 0.75);
}

i {
    font-size: 35px;
}

.ty {
    display: flex;
}

.cj {
    background-color: rgb(53, 47, 47);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    padding-left: 20px;
    padding-top: 10px;
}

.ty,
h2,
p {
    padding-top: 30px;
}